.icons,
.iconse,
.iconser,
.iconsert {
    width: 50px;
    height: 50px;
    transition: fill 0.25s ease;
}

.icons {
    fill: rgb(255, 178, 178);
}

.iconse {
    fill: rgb(205, 255, 195);
}

.iconser {
    fill: rgb(196, 206, 255);
}

.iconsert {
    fill: rgb(255, 182, 249);
}

.icons:hover {
    fill: rgb(182, 255, 249);
}

.iconse:hover {
    fill: rgb(244, 255, 182);
}

.iconser:hover {
    fill: rgb(185, 255, 182);
}

.iconsert:hover {
    fill: rgb(255, 229, 182);
}